@model Cars_New.Models.Car
<div>
        <dl>
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.name);
        </dd>

        <dt>Возраст</dt>
        <dd>
            @Html.DisplayFor(model => model.sum);
        </dd>
    </dl>
    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удаление машину"/>
            </div>
        </form>
    </div>
</div>