@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our store</h1>
    <a asp-action="Cars" asp-controller="Home"> <img class="col-lg-2" src="https://oboi-download.ru/files/wallpapers/1274/28928.jpg"/> </a>
</div>
